.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.25rem;
  background-color: #5c6fda; 
  clip-path: circle(20px at calc(100vw - 5vw) 31px);
  transition: clip-path 0.5s;
}
.menu li {
  position: relative;
  z-index: auto;
}
.menu a {
  text-decoration: none;
  color: rgb(46, 45, 45);
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  width: 120px;
  padding: 5px;
}
.btn {
  position: absolute;
  top: 20px;
  left: calc(100vw - 5vw);
  transform: translateX(-50%);
  cursor: pointer;
}
.btn > span {
  width: 3px;
  height: 3px;
  display: block;
  border: 2px solid #fff;
  border-radius: 50%;
  margin-bottom: 1px;
}
.highlight {
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  background-color: #fff;
  transition: transform 0.3s;
}

/*after menu click items*/
/*ref https://codepen.io/SeiAlkali/pen/vxXmev?editors=0010*/
.nav-bar {
width: 360px;
height: 60px;
top: 15px;
right: 5px;
position: absolute;
background: transparent;
padding-top: 3px;
}

.nab-bar ul {
list-style: none;
}

.nav-bar li {
display: inline-block;
margin-left: 30px;
font-weight: 400;
text-transform: uppercase;
color: #000;
font-family: sans-serif;
}

.nav-bar li:nth-child(1) {
margin-left: 0;
}

.hidden {
display: none;
}

/* Add new styles for the clickable headings */
.clockface-heading,
.app-heading {
  position: fixed;
  top: 0; /* Adjust as needed */
  left: 50%; /* Center the headings horizontally */
  transform: translateX(-50%); /* Center the headings horizontally */
  background-color: white; /* Adjust the background color */
  padding: 10px; /* Adjust the padding */
  z-index: 1000; /* Ensure the headings appear above other elements */

  cursor: pointer;
  /* color: #3498db;*/ /* Change the color as desired */
 /* text-decoration: underline;
  margin: 0;
  padding: 0; */
}

.app-heading {
  top: 40px; /* Adjust the distance from the top */
}

/* Additional styles for the divs under isolayer */
.clockface {
  /* Add your styles for clockface here */
}

.app {
  /* Add your styles for app here */
}